body {
    background: #003d4c;
    color: #fff;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:90%;
    margin: 0;
}


.message {
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;
}

#flashMessage{
    background-color: darkblue;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
}

.form-error{
    border: 1px solid darkblue;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message{
    background-color: darkblue;
    color: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 10px;
    width: 100px;
}

h2{
    color: darkblue;
}

input[type=text]{
    height: 20px;
}

input[type=submit]{
    width: auto;
}

table{
    width: 100%;
}

th {
    background-color: gray;
    color: #ffffff;
}

a:link,a:visited{
    color: blue;
}

a:hover{
    color: darkblue;
}
