<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
$cakeVersion = __d('cake_dev', 'CakePHP %s', Configure::version())
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $this->fetch('title'); ?>
	</title>
	<?php
        echo $this->Html->script('jquery-2.1.3.min');
        echo $this->Html->script('jquery-ui.min');
        echo $this->Html->script('myUtil');
        echo $this->Js->writeBuffer(array('cache'=>TRUE));

		echo $this->Html->meta('icon');

		echo $this->Html->css('cake.generic');
        echo $this->Html->css('jquery-ui');

		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
	?>
</head>
<body >
	<div id="container">
		<div id="header">
			<h1><?php echo $this->Html->link($cakeDescription, 'http://cakephp.org'); ?></h1>
		</div>
        <!-- code added for user authenticate here -->
		<div id="content">
            <div style="text-align: right; margin: 10px;">
                <?php if(AuthComponent::user(null)): ?>
                    welcome <?php echo AuthComponent::user('first_name').' '.AuthComponent::user('last_name'); ?>.<?php echo $this->Html->link('Logout',array('controller'=>'mainLogins','action'=>'logout','admin'=>false)); ?>
                <?php else: ?>
                    <?php echo $this->Html->link('Login',array('controller'=>'mainLogins','action'=>'login')); ?>
                <?php endif;?>
            </div>

			<?php echo $this->Session->flash(); ?>
            <?php echo $this->Session->flash('auth'); //TODO  whats this for...?>

			<?php echo $this->fetch('content'); ?>
		</div>

        <!--mixer input tables-->
        <div class="alkali">
            <div class="myButtons">
            <?php if(isset($alkali)){
                foreach($alkali as $key=>$value){ echo '<button type="submit">'.$value.'</button>';}
            }?>
            </div>
        </div>
        <div class="erdalkali">
            <div class="myButtons">
                <?php if(isset($erdalkali)){
                    foreach($erdalkali as $key=>$value){ echo '<button type="submit">'.$value.'</button>';}
                }?>
            </div>
        </div>
        <div class="nhs">
            <div class="myButtons">
                <?php if(isset($nhs)){
                    foreach($nhs as $key=>$value){ echo '<button type="submit">'.$value.'</button>';}
                }?>
            </div>
        </div>
        <div class="hs">
            <div class="myButtons">
                <?php if(isset($hs)){
                    foreach($hs as $key=>$value){ echo '<button type="submit">'.$value.'</button>';}
                }?>
            </div>
        </div>
   <!--     <div class="Zusammen">
            <div>
                <?php /*if(isset($Zusammen)){
                    foreach($Zusammen as $key=>$value){ echo '<button type="submit">'.$value.'</button>';}
                }*/?>
            </div>
        </div>
-->


		<div id="footer">
			<?php echo $this->Html->link(
					$this->Html->image('cake.power.gif', array('alt' => $cakeDescription, 'border' => '0')),
					'http://www.cakephp.org/',
					array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
				);
			?>
			<p>
				<?php echo $cakeVersion; ?>
			</p>
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
