<?php
echo $this->element('admin_action');
?>

<div class="students form">
<?php echo $this->Form->create('Student'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Student'); ?></legend>
	<?php
		echo $this->Form->input('first_name');
        echo $this->Form->input('last_name');
		echo $this->Form->input('pwd');
		echo $this->Form->input('martikelNr');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

